@font-face {
  font-family: 'KOTRA_SONGEULSSI';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff') format('woff');
}

@font-face {
  font-family: 'WandohopeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeB.woff') format('woff');
}

@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ONHyaryongdoL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/ONHyaryongdoL.woff') format('woff');
}

@font-face {
  font-family: 'TTWorinseokboL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.2/TTWorinseokboL.woff') format('woff');
}

@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
}

@font-face {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
}

@font-face {
  font-family: 'ROEHOE-CHAN';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
}

@font-face {
  font-family: 'Dancing Script';
  src: url('http://font.okdevtv.com/fonts/DancingScript-VariableFont_wght.woff') format('woff');
}

body {
  padding: 50px;
  font: 14px "TTWorinseokboL", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#css {
  font-size: x-small;
}
